/************************************************************************
                              Global styles
************************************************************************/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

#prihod-rashod {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    }

#prihod {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
#rashod {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
/************************************************************************
                                Layout
************************************************************************/
.container {
    display: flex;
    justify-content: space-between;
}
#app {
    background-color: rgba(125, 125, 177, 0.815);
}

#wrapp {
    text-align: center;
}

.state-prihod {
    background-color: rgb(41, 194, 148);
    width: 25%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.state-rashod {
    background-color: rgb(201, 74, 74);
    width: 25%;
    margin: 0 auto;
    margin-bottom: 10px;
}
#input {
    background-color: rgb(228, 225, 225);
    text-align: center;
}
.input-unos {
    padding: 10px 0;
}

#prihod-rashod {
    background-color: #fff;
}
/************************************************************************
                            Specific styles
************************************************************************/
#info h3 {
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.582);
}
#info p {
    padding: 15px 0;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.582);
}
/* Ovde je ukupan PRIHOD i RASHOD */
.prviParagrafPrihod {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    float: left;
} 
.drugiParagrafPrihod {
    display: inline-block;
    padding: 10px 90px 10px 75px;
    color: rgba(255, 255, 255, 0.582);
    float: right;
    width: 100px;
    text-align: center;
}
.prviParagrafRashod {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    float: left;
}
.drugiParagrafRashod {
    display: inline-block;
    padding: 10px 0 10px 75px;
    color: rgba(255, 255, 255, 0.582);
    width: 100px;
    text-align: center;
}
.treciParagrafRashod {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    width: 40px;
    height: 18px;
    background-color: rgba(238, 170, 170, 0.164);
    color: rgba(255, 255, 255, 0.582);
    margin: 10px;
    float: right;
    text-align: center;
}
/* Ovde je SELECTBOX, INPUT-TEXT, INPUT-NUMBER i BUTTON */
#select-options {
    width: 80px;
    height: 41px;
}
.input-text {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.input-number {
    width: 100px;
    height: 40px;
    padding-left: 10px;
}
.input-unos button {
    height: 43px;
    width: 60px;
    margin-left: 10px;
}
/* Ovde je prikaz PRIHOD-a i RASHOD-a */
#prihod h2 {
    text-align: left;
    color: rgb(41, 194, 148);
}
#rashod h2 {
    text-align: left;
    color: rgb(201, 74, 74);
    margin-left: 25px;
}
.unos-prihod div {
    border-top: 1px solid rgb(228, 225, 225);
    border-bottom: 1px solid rgb(228, 225, 225);
    display: flex;
}
.unos-rashod div {
    border-top: 1px solid rgb(228, 225, 225);
    border-bottom: 1px solid rgb(228, 225, 225);
    margin-left: 25px;
    display: flex;
}
.prviParagrafUnosPrihod {
    display: inline-block;
    padding: 10px 0 10px 10px;
    float: left;
    width: 370px;
    text-align: left;
}
.drugiParagrafUnosPrihod {
    display: inline-block;
    padding: 10px 10px 10px 0;
    color: rgb(41, 194, 148);
    float: right;
    width: 200px;
    text-align: right;
}
.prviParagrafUnosRashod {
    display: inline-block;
    padding: 10px 0 10px 10px;
    float: left;
    width: 370px;
    text-align: left;
}
.drugiParagrafUnosRashod {
    display: inline-block;
    padding: 10px 5px 10px 0;
    color: rgb(201, 74, 74);
    width: 130px;
    text-align: right;
}
.treciParagrafUnosRashod {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    width: 40px;
    height: 18px;
    background-color: rgba(240, 51, 51, 0.164);
    float: right;
    margin: 10px;
    color: rgb(201, 74, 74);
    text-align: center;
}

.btnDelete {
    display: none;
    float: left;
    margin-left: 10px;
}
.btnDelete-show {
    float: left;
    margin-left: 10px;
    border: none;
    background-color: rgb(41, 194, 148);
    padding: 0 5px;
}
/************************************************************************
                            Helper classes
************************************************************************/
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }